---
import NavBreadcrumb from '~/components/nav-breadcrumb.astro';
import BaseHead from '~/components/base-head.astro';
import { defaultMeta } from '~/config/site';
import RootLayout from '~/layouts/root-layout.astro';
import { getCollection } from 'astro:content';
import { filterAndSortContent } from '~/utils/content-operations';
import { formatDate } from '~/utils/format-date';

const allPosts = await getCollection('posts');
const posts = filterAndSortContent(allPosts);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title="Posts  •  Shovan Chatterjee"
      description={defaultMeta.description}
    />
  </head>
  <RootLayout>
    <NavBreadcrumb section="posts" />

    <main class="flex w-full flex-col gap-12">
      <div class="flex flex-col gap-2">
        <h1 class="text-theme-text font-sans text-4xl font-semibold">Posts</h1>
      </div>

      <ul class="flex flex-col gap-3">
        {
          posts.map((post) => (
            <li class="flex items-start justify-between gap-3">
              <a
                href={`/posts/${post.id}/`}
                class="text-theme-text hover:text-theme-text-secondary font-serif text-lg font-semibold transition-colors duration-200 md:text-xl"
              >
                {post.data.title}
              </a>
              <time
                datetime={post.data.publishedAt}
                class="text-theme-text-secondary shrink-0 font-sans text-base font-medium"
              >
                {formatDate(post.data.publishedAt)}
              </time>
            </li>
          ))
        }
      </ul>
    </main>
  </RootLayout>
</html>
